main {
    padding: 0 10px;
}

.title h1 {
    background-color: #008080;
    color: #fff;
    text-align: center;
    border-radius: 30px;
    font-size: 1.8em;
}

.image {
    text-align: center;
}

.image img {
    width: 85%;
    max-width: 85%;
    height: auto;
    border-radius: 30px;
    margin-bottom: 20px;
}

.button {
    background-color: #008080;
    color: #fff;
    text-align: center;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0 5px rgba(0, 102, 102, 0.5);
    font-size: 24px;
}
.button:active {
    position: relative;
    top: 5px;
    box-shadow: none;
}

.text {
    text-align: center;
    font-size: 20px;
}

.result-text {
    text-align: center;
    color: #008080;
    font-size: 30px;
}

@media screen and (min-width: 768px) {
    .title h1 {
        font-size:40px;
        background-color: #008080;
        color: #fff;
        text-align: center;
        border-radius: 30px;
        width: 600px;
        margin: 20px auto;
    }

    .image img {
        width: 400px;
        height: 400px;
        border-radius: 30px;
        margin-bottom: 20px;
    }
    .image {
        text-align: center;
    }

    .button {
        width: 300px;
        margin: 0 auto;
        font-size: 24px;
    }

}
